$theme-blue: $primary-color;
$bg: $background;
$light-gray: #c8d6e5;
$lighter-gray: #f8f9fa;
$table-border: #dee2e6;
$light-blue-nav-link: lighten($theme-blue, 15%);
$light-blue-nav-link-hover: darken($theme-blue, 25%);
$neon-blue: #18dcff;
$wintergreen: #32ff7e;
$bright-red: #fc427b;
$honey-yellow: #eab543;
$body-text: $text-color;
$white: #fff;
$text-secondary: $text-color-secondary;
